body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 254, 254);
}

.heading {
    width: 100%;
    border-bottom: 2px solid black;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:35%;
}

.cards {
    display: flex;
    justify-content: space-between;
    width:75%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}